<section class="wraper flex flex-column justify-content-center">
  <h1>Forget your password ?</h1>

  <form
    [formGroup]="forgetPassword"
    class="card flex flex-column justify-content-center gap-5"
    (ngSubmit)="buttomclicked()"
  >
    <p-floatLabel>
      <input
        class="w-full"
        pInputText
        id="email"
        type="email"
        formControlName="email"
      />
      <label for="Email">Enter Email</label>
    </p-floatLabel>

    <span class="flex flex-row-reverse"> Recover Password ?</span>
  </form>
  @if(messages){
  <div class="card">
    <p-messages severity="error">
      <ng-template pTemplate>
        <div class="ml-2">{{ messages }}</div>
      </ng-template>
    </p-messages>
  </div>
  }

  <app-buttom
    (clickEmiter)="buttomclicked()"
    type="submit"
    class="md:w-25rem"
    [customStyles]="styles"
    [text]="'Sign in'"
  ></app-buttom>
</section>
