<section class="wraper flex flex-column justify-content-center">
  <h1>set a password</h1>

  <form
    [formGroup]="setPassword"
    class="card flex flex-column justify-content-center gap-5"
    (ngSubmit)="buttomclicked()"
  >
    <p-floatLabel>
      <input class="w-full" pInputText id="Password" type="password" formControlName="password" />
      <label for="Password">Greate Password</label>
    </p-floatLabel>
    <p-floatLabel>
      <input
        class="w-full" pInputText id="Confirm Password" type="password" formControlName="rePassword"
      />
      <label for="Confirm Password">Re-enter Password</label>
    </p-floatLabel>
  </form>

  <app-buttom
    (clickEmiter)="buttomclicked()"
    type="submit"
    [customStyles]="styles"
    class="md:w-25rem"
    [text]="'Sign in'"
  ></app-buttom>
</section>
