<div class="menu flex flex-row align-item-center justify-content-between">
    <div class="relative postion-left flex flex-row justify-content-between align-items-center">
        <a class="cursor-pointer" href=""><i class="fa-solid fa-bars fa-lg" style="color: #f7f7f7;"></i></a>
        <a class="cursor-pointer" href=""><i class="fa-solid fa-magnifying-glass fa-lg" style="color: #ffffff;"></i>
        </a>
    </div>
    <div class="relative postion-right">
        <img class="img-size border-circle" src="assets/pic/Frame 40.png" alt="">
    </div>
</div>