.menu{
    background-color: var(--main-color);
    height: 3.875rem;
}

.postion-left{
    left:1rem;
    top:18px;
    width: 4.625rem;
    height: 1.563rem;
}
.postion-right{
    right:1rem;
    top:0.688rem;
}
.img-size{
    width: 2.5rem;
    height: 2.5rem;
}
.top-box{
    top:3.9rem;
    height:17.063rem;
    padding:1rem;
}
.image-size{
    width: 21.438rem;
    height: 21.438rem;
}
.logo-sizing{
    width: 5.188rem;
    height: 0.938rem;
}