<div class="menu flex flex-row align-item-center justify-content-between md:hidden">
    <div class="relative postion-left flex flex-row justify-content-between align-items-center md:hidden ">
        <a class="cursor-pointer" (click)="menuClick()"><i class="fa-solid fa-bars fa-lg" style="color: #f7f7f7;"></i></a>
        <a class="cursor-pointer" ><i class="fa-solid fa-magnifying-glass fa-lg" style="color: #ffffff;"></i>
        </a>
    </div>
        <div class="relative postion-right md:w-screen md:postion-left">
            <img class="img-size border-circle" src="assets/pic/Frame 40.png" alt="person">
        </div>
</div>
<div class="hidden md:block mt-25 ml-5 mr-8 mb-0">
    <div class="grid m-0 p-0">
        <div class="col-3 ">
            <div class="grid">
                <div class="col-12">
                    <div class="wrapper  w-6 flex flex-column gap-4 w-12">
                        <img class="w-10rem h-2rem" src="assets/pic/Final Logo 1.png" alt="logo"> 
                        <button class="flex justify-content-between  align-items-center border-none w-12rem h-3rem p-2  text-white border-round-xl font-semibold text-base" style="background-color: var(--main-color);">
                            <img class="" src="assets/pic/dashbord.png" alt="">
                            Dashbord</button>
                       <button class="flex justify-content-between  align-items-center border-none w-12rem h-3rem p-2   border-round-xl bg-white font-semibold text-base" style="color: #696F79;">
                                <img class="" src="assets/pic/timer.png" alt="">
                        Quiz History</button>
                        <button class="flex justify-content-between  align-items-center border-none w-12rem h-3rem p-2 border-round-xl bg-white mr-4 font-semibold text-xl" style="color: #696F79;">
                            <img class="" src="assets/pic/logout.png" alt="logout">
                            Log Out</button>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-9  ">
            <div class="grid">
                <div class="col-9 justify-content-center align-content-center align-items-center">
                    <div class="card flex flex-wrap justify-center items-end gap-4">
                        <div class="card flex flex-col items-center gap-4 w-full">
                            <div class="p-input-icon-left w-full flex flex-row align-content-center ">
                                <i class="pi pi-search"></i>
                                <input pInputText class="w-full h-4rem shadow" type="text" placeholder="Search Quiz" />
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 bg-white">
                    <app-buttom
                    (clickEmiter)="buttomclicked()"
                    [customStyles]="styles"
                    class="md:w-25rem"
                    [text]="'Start Quiz'"
                  ></app-buttom>
                </div>
                <div class="col-1 flex flex-row justify-content-end">
                    <img class="img-size2 border-circle flex justify-content-center align-content-center"  src="assets/pic/Frame 40.png" alt="person">
                </div>
                <div class="col-12"><app-user-info></app-user-info></div>
                <div class="col-12 bg-red-200"></div>
            </div>
        </div>

    </div>
</div>

@if (menuBar) { 
<div class="nav w-screen bg-white absolute  top-box md:hidden">
       <div class="layout  flex flex-row justify-content-between">
          <div class="wrapper  w-6 flex flex-column gap-4">
            <img class="logo-sizing" src="assets/pic/Final Logo 1.png" alt="logo"> 
            <button class="flex justify-content-between  align-items-center border-none p-2 text-white border-round-xl font-semibold text-base" style="background-color: var(--main-color);">
                <img class="" src="assets/pic/dashbord.png" alt="">
                Dashbord</button>
           <button class="flex justify-content-between  align-items-center border-none p-2  border-round-xl bg-white font-semibold text-base" style="color: #696F79;">
                    <img class="" src="assets/pic/timer.png" alt="Quiz History" >
                    Quiz History</button>
          </div>
          <a>
            <i class="fa-solid fa-x cursor-pointer" (click)="menuClick()" style="color: #000000;"></i>
        </a>
       
    </div>
    <div class="wrapper  w-6 flex flex-column gap-4">
    <button class="flex justify-content-between  align-items-center border-none p-2 mt-5 border-round-xl bg-white mr-4 font-semibold text-xl" style="color: #696F79;">
        <img class="" src="assets/pic/logout.png" alt="">
        Log Out</button>
    </div>
</div>
}
<div class="px-3 mt-4 md:hidden" >
    <!-- <img class="w-full " src="assets/pic/Frame 40.png" alt=""> -->
    <app-user-info></app-user-info>
</div>