.custom-borders-radius {
  border-top-right-radius: var(--border-radious-100);
  border-bottom-right-radius: var(--border-radious-100);
}

.custome-text {
  font-size: 3.125rem;
  line-height: 4.688rem;
}
.box-shadowing{
    box-shadow: 5px 0 10px  0px rgba(0, 0, 0, 0.1);
}

span {
  color: rgba(18, 45, 156, 1);
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
}
a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.513rem;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  padding: 0.563rem 3.063rem;
}
.outlet-container{
  top:153px;
  left: 203px;
}

